@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

@layer components {
  .custom-shadow {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px #d0d0d0, -1px -1px 3px #f0f0f0;
  }
  .custom-shadow-sm {
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px #d0d0d0, -1px -1px 1px #f0f0f0;
  }

}